This is a markdown cell - used for documentaion and explaining things

# Header 1
## Header 2
### Header 3

In [2]:
# This is a code cell. use ctrl+Enter to run a cell
# 

i = 5 # no need to specify the type. this is an integer
j = 0.5 # this is a float

type(i)

int

In [3]:
type(j)

float

In [4]:
print("hello world")

hello world

In [6]:
s = i+j
s

5.5

This is a function definition

In [7]:
def sumFunc(x1,x2):
    return x1+x2

In [8]:
sumFunc(3,4)

7

# IF

In [12]:
x = input("enter a number")  # x is a string --> need to be casted to int
x = int(x)
if x>0:
    print ("positive")
elif x<0:
    print ("Negative")
else:
    print("Zero")

enter a number0
Zero

# Lists

In [16]:
l = ["ron", 'miri', "Lea", "Don"] # l is a list
l

['ron', 'miri', 'Lea', 'Don']

In [18]:
l2 = [1,2,3,4,5]
l3 = [1,"cake",3,"Hi",5]
l3

[1, 'cake', 3, 'Hi', 5]

In [19]:
# Slicing 
l3[2:4] #- from the index 2 to 3

[3, 'Hi']

In [20]:
l3[0]

1

In [21]:
l3[5]

IndexError: list index out of range

In [25]:
# you can update a list:
l2[4] = "hello"
l2

[1, 2, 3, 4, 'hello']

# for loop

In [13]:
for element in l:
    print (element)

ron
miri
Lea
Don

In [15]:
for element in l3:
    print (element)

1
cake
3
Hi
5

# Tuple

In [23]:
tup = (2,3,4,5,6)
tup

(2, 3, 4, 5, 6)

In [24]:
tup[0]

2

In [26]:
# you cannot update a tuple:
tup[4] = "hi"

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [33]:
person = {"name":"Moshe", "address" : "Ramat Hagolan 44, Ariel", "age":33, "birthdate": "July 6, 1988" }
person

{'name': 'Moshe',
 'address': 'Ramat Hagolan 44, Ariel',
 'age': 33,
 'birthdate': 'July 6, 1988'}

In [34]:
person["name"]

'Moshe'

In [35]:
person["age"]

33

In [36]:
person.items()

dict_items([('name', 'Moshe'), ('address', 'Ramat Hagolan 44, Ariel'), ('age', 33), ('birthdate', 'July 6, 1988')])

In [37]:
person.keys()

dict_keys(['name', 'address', 'age', 'birthdate'])

In [38]:
person.values()

dict_values(['Moshe', 'Ramat Hagolan 44, Ariel', 33, 'July 6, 1988'])

# installing and importing packages

In [41]:
#!pip install pandas (anaconda comes with pandas installed but if you do not have pandas use !pip install)
import pandas as pd
df = pd.read_csv("C:\\Users\\Anat\\PythonNotebooks\\DL_Workshop\\Data\\student_data.csv")
df

     admit  gre   gpa  rank
0        0  380  3.61     3
1        1  660  3.67     3
2        1  800  4.00     1
3        1  640  3.19     4
4        0  520  2.93     4
..     ...  ...   ...   ...
395      0  620  4.00     2
396      0  560  3.04     3
397      0  460  2.63     2
398      0  700  3.65     2
399      0  600  3.89     3

[400 rows x 4 columns]